@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -color-marine-blue: #02295a;
  -color-purplish-blue: #473dff;
  -color-pastel-blue: #adbeff;
  -color-light-blue: #bfe2fd;
  -color-strawberry-red: #ed3548;
  -color-cool-gray: #9699ab;
  -color-light-gray: #d6d9e6;
  -color-magnolia: hsl(217, 100%, 97%);
  -color-alabaster: hsl(231, 100%, 99%);
  -color-white: hsl(0, 0%, 100%);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #02295a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #02295a;
}

input:focus+.slider {
  box-shadow: 0 0 1px #02295a;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@layer components {
  .heading {
    @apply text-[#02295a] text-3xl font-bold;
  }

  .paragraph {
    @apply text-[#9699ab] text-base font-normal;
  }

  .label {
    @apply text-[#02295a] text-base font-normal;
  }

  .input {
    @apply text-[#02295a] text-xl font-bold py-2 pl-4 placeholder:text-lg placeholder:font-normal outline-none border-[1px] border-[#9699ab] focus:border-[1px] focus:border-[#473dff] rounded-xl;
  }

  .btn {
    @apply text-[#ffffff] text-base font-normal bg-[#02295a] py-2 px-4 rounded-lg hover:opacity-90;
  }

  .heading--2 {
    @apply text-[#02295a] text-lg font-semibold capitalize;
  }
}